.footer {
  width: 1201px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 200px;
}
.logo {
  @include DMSerifDisplay40;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer-logo {
  max-width: 393px;
}

.footer-logo h4 {
  @include DMSerifDisplay40;
}

.footer-logo p {
  @include Jost22;
  margin-top: 18px;
  margin-bottom: 32px;
}
.footer-logo-socialNetwork {
  display: flex;
  gap: 54px;
}
.footer-navMenu {
  @include Jost22;
  margin-right: 283px;
}

.footer-navMenu h4 {
  @include DMSerifDisplay25;
  margin-bottom: 25px;
}
.footer-navMenu li {
  margin-bottom: 33px;
}
.footer-contact {
}
.footer-contact address {
  width: 258px;
  display: flex;
  flex-direction: column;
}
.footer-contact h4 {
  @include DMSerifDisplay25LSnone;
  margin-bottom: 25px;
}
.footer-contact p {
  @include Jost22;
  margin-bottom: 15px;
}
.footer-contact a {
  @include Jost22;
  margin-bottom: 32px;
}
