/*MAIN*/
/*Section Baner*/
.content {
  width: 1201px;
  margin: 0 auto;
}
.baner {
  padding: 215px 52px;
  background-image: url(@/assets/img/backgroundSectionBanner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70px;
}
.baner__h2 {
  @include DMSerifDisplay65;
  margin-bottom: 16px;
}
.baner__p {
  @include Jost22;
  margin-bottom: 21px;
}
.baner__btn {
  @include JostBTN18;
  width: 220px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  text-align: center;
  & svg {
    margin-left: 12px;
  }
}

/*Section Project*/
.project {
  margin-bottom: 94px;
}
.project-header {
  width: 737px;
  margin: 90px auto 93px;
  text-align: center;
}
.project-header__h2 {
  @include DMSerifDisplay50;
  margin-bottom: 8px;
}
.project-header__p {
  @include Jost22;
}
.project-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 620px;
  column-gap: 100px;
  row-gap: 53px;
}
.project-main-card {
  &:nth-child(4n + 1) img {
    border-top-right-radius: 80px;
  }
  &:nth-child(4n + 2) img {
    border-top-left-radius: 80px;
  }
  &:nth-child(4n + 3) img {
    border-bottom-right-radius: 80px;
  }
  &:nth-child(4n + 4) img {
    border-bottom-left-radius: 80px;
  }
  &:nth-child(4n + 3) .project-main-card-img {
    margin-bottom: 38px;
  }
  &:nth-child(4n + 4) .project-main-card-img {
    margin-bottom: 38px;
  }
}
.project-main-card-img {
  margin-bottom: 20px;

  & img {
    overflow: hidden;
  }
}
.project-main-card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-main-card-text-info__h2 {
  @include DMSerifDisplay25;
}
.project-main-card-text-info__p {
  @include Jost22;
}
.project-main-card-text__btn {
  border: none;
  border-radius: 35px;
}

/*Section Counter*/
.counter {
  background: $backgroundSectionCounter;
}
.counter-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 151px 0;
}
.counter-card {
  padding-right: 80px;
  border-right: 1px solid $colorTextCounter;
}
.counter-card:last-child {
  padding-right: 0;
  border-right: none;
}
.counter__num {
  @include DMSerifDisplay85;
  margin-bottom: 15px;
}
.counter__text {
  @include Jost22;
}

/*Section Blog*/
.blog {
  margin-bottom: 96px;
}
.blog-header {
  width: 811px;
  margin: 97px auto 53px;
  text-align: center;
}
.blog-header__title {
  @include DMSerifDisplay50;
  margin-bottom: 10px;
}
.blog-header__p {
  @include Jost22;
}
.blog-main {
}
.blog-main-card {
  display: flex;
  gap: 27px;
}
.blog-card {
  width: 382px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.5s;
  &:hover {
    background-color: #f4f0ec;
  }
  &:hover .blog-card__btn svg circle {
    fill: #fff;
  }
}
.blog-card__btn svg circle {
  transition: fill 0.5s;
}
.blog-card-img {
  height: 294px;
  position: relative;
  margin-bottom: 5px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;
}
.blog-card-img-title {
  position: absolute;
  @include Jost16;
  padding: 10px;
  left: 20px;
  bottom: 26px;
  border-radius: 8px 8px 8px 0;
  background-color: #fff;
}
.blog-card-info {
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-card-title {
  @include DMSerifDisplay25;
  margin-right: 45px;
  margin-bottom: 15px;
}
.blog-card-DateAndBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.blog-card__date {
  @include Jost16;
}
.blog-card__btn {
  border: none;
  border-radius: 25px;
}
