@import "./_color.scss";
@import "./_fonts.scss";
@import "./ErrorPage.scss";
@import "./Header.scss";
@import "./Footer.scss";
@import "./Blog.scss";
@import "./Home.scss";
@import "./BlogDetails.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
