@import "fonts";
@import "color";

.main-header {
  position: relative;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.main-header__baner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main-header-title {
  position: relative;
  z-index: 2;
  padding: 41px 78px;
  background-color: #fff;
  border-radius: 37px 37px 0 0;
  text-align: center;
}
.main-header-title__title {
  @include DMSerifDisplay50;
}
.adressPage {
  @include Jost22;
}
.blogDetails {
  padding-top: 180px;
  display: flex;
  gap: 56px;
 
}

/* Content */
.blogDetails-content{
  min-width: 800px;
  max-width: 800px;
  margin-bottom: 95px;
  & > p{
    @include Jost22;

  }
}
.blogDetails-content__title {
  @include DMSerifDisplay50;
  margin-bottom: 23px;
}
.blogDetails-content-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
}
.blogDetails-content__img {
  width: 100%;
  height: 365px;
  border-radius: 50px;
  object-fit: cover;
}
.content-date {
  @include Jost16;
  margin-bottom: 4px;
  padding: 42px 0px;
  padding-right: 68px;
  display: flex;
  justify-content: space-between;
}
.content-quote{
  margin-top: 40px;
  margin-bottom: 55px;
  padding: 35px 220px;
  text-align: center;
  background-color: #F4F0EC;
  border-radius: 50px ;
  & p:first-child {
    @include DMSerifDisplay200ItalicColorCDA274;
    margin-top: -75px;
  }
  & p:last-child {
    @include DMSerifDisplay25ItalicColorCDA274;
    margin-top: -5px;

  }
}
.blogDetails-content__list{
  @include DMSerifDisplay20;
  margin-top: 20px;
  margin-bottom: 42px;
  list-style-type: none;
  counter-reset: my-counter; 
  & li{
    position: relative;
    max-width: 750px;
    margin-left: 20px;
    margin-bottom: 32px;
  }
  & li::before {
    position: absolute;
    top: 2px;
    left: -20px;
    content: counter(my-counter);
    counter-increment: my-counter;
    margin-right: 8px;
  }
  & span{
    @include Jost22;
  }
}

.blogDetails-content__img2{
  margin-bottom: 34px
}

/* Tags */
.tags{
}
.tags-title {
  @include DMSerifDisplay25;
  margin-bottom: 25px;
}

.tags-main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-main-block {
  @include Jost18;
  margin-bottom: 2px;
  padding: 6px 31px;
  border-radius: 10px;
  background-color: $backgroundSectionCounter;
  cursor: pointer;
}
.tags-main-block__activ {
  color: #fff;
  background-color: #292f36;
}


