@import "fonts";
@import "color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:black
}
li{
  list-style-type: none;
  
}
.content {
  width: 1201px;
  margin: 0 auto;
}

/* HEADER */

.header-content {
  padding: 52px 0 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  @include DMSerifDisplay40;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.navMenu ul{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
  & li{
    transition: transform 0.5s;
  &:hover{
    transform: scale(1.2);
  }
  }

  & a{
    @include Jost20;
  }
}

/*MAIN*/
/*Section Baner*/
.baner{
  padding: 215px 52px;
  background-image: url(../../img/backgroundSectionBanner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70px;
}
.baner__h2{
  @include DMSerifDisplay65;
  margin-bottom: 16px;
}
.baner__p{
  @include Jost22;
  margin-bottom: 21px;
}
.baner__btn{
  @include JostBTN18;
  width: 220px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  text-align: center;
  & svg{
    margin-left: 12px;
  }
}

/*Section Project*/
.project{
  margin-bottom: 94px;
}
.project-header{
  width: 737px;
  margin: 90px auto 93px;
  text-align: center
}
.project-header__h2{
  @include DMSerifDisplay50;
  margin-bottom: 8px;
}
.project-header__p{
  @include Jost22;
}
.project-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 620px;
  column-gap: 100px;
  row-gap: 53px;
  
}
.project-main-card{
  &:nth-child(4n+1) img{
    border-top-right-radius: 80px; 
  }
  &:nth-child(4n+2) img{
    border-top-left-radius: 80px; 
  }
  &:nth-child(4n+3) img{
    border-bottom-right-radius: 80px; 
  }
  &:nth-child(4n+4) img{
    border-bottom-left-radius: 80px; 
  }
  &:nth-child(4n+3) .project-main-card-img{
    margin-bottom: 38px; 
  }
  &:nth-child(4n+4) .project-main-card-img{
    margin-bottom: 38px; 
  }
}
.project-main-card-img{
  margin-bottom: 20px;
  
  & img{
  overflow: hidden;
  }
 
}
.project-main-card-text{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.project-main-card-text-info__h2{
  @include DMSerifDisplay25;
}
.project-main-card-text-info__p{
  @include Jost22;
}
.project-main-card-text__btn{
  border: none;
  border-radius: 35px;
}

/*Section Counter*/
.counter{
  background: $backgroundSectionCounter;
}
.counter-content{
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 151px 0;
}
.counter-card{
  padding-right: 80px;
  border-right: 1px solid $colorTextCounter;
}
.counter-card:last-child{
  padding-right: 0;
  border-right: none;
}
.counter__num{
  @include DMSerifDisplay85;
  margin-bottom: 15px;
}
.counter__text{
  @include Jost22;
}

/*Section Blog*/
.blog{
  margin-bottom: 96px;
}
.blog-header{
  width: 811px;
  margin: 97px auto 53px;
  text-align: center
}
.blog-header__title{
  @include DMSerifDisplay50;
  margin-bottom: 10px;
}
.blog-header__p{
  @include Jost22;
}
.blog-main{
  
}
.blog-main-card{
  display: flex;
  gap: 27px;
}
.blog-card{
  width: 382px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.5s;
  &:hover {
    background-color: #F4F0EC;
  }
  &:hover .blog-card__btn svg circle{
    fill: #FFF
  }
}
.blog-card__btn svg circle{
  transition: fill 0.5s;
}
.blog-card-img{
  height: 294px;
  position: relative;
  margin-bottom: 5px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden;
}
.blog-card-img-title{
  position: absolute;
  @include Jost16;
  padding: 10px;
  left: 20px;
  bottom: 26px;
  border-radius: 8px 8px 8px 0;
  background-color: #FFF;
}
.blog-card-info{
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-card-title{
  @include DMSerifDisplay25;
  margin-right: 45px;
  margin-bottom: 15px;
}
.blog-card-DateAndBtn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px
}
.blog-card__date{
  @include Jost16;
}
.blog-card__btn{
  border: none;
  border-radius: 25px;
}

/*FOOTER*/
.footer{
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 200px;

}
.footer-logo{
  max-width: 393px;
}

.footer-logo h4{
@include DMSerifDisplay40;
}

.footer-logo p {
  @include Jost22;
  margin-top: 18px;
  margin-bottom: 32px;
}
.footer-logo-socialNetwork{
  display: flex;
  gap: 54px
}
.footer-navMenu{
  @include Jost22;
  margin-right: 283px;
}

.footer-navMenu h4{
  @include DMSerifDisplay25;
  margin-bottom: 25px;
}
.footer-navMenu li{
  margin-bottom: 33px;
}
.footer-contact {
}
.footer-contact address{
  width: 258px;
  display: flex;
  flex-direction: column;
}
.footer-contact h4{
  @include DMSerifDisplay25LSnone;
  margin-bottom: 25px;
}
.footer-contact p{
  @include Jost22;
  margin-bottom: 15px;
}
.footer-contact a{
  @include Jost22;
  margin-bottom: 32px;
}