@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600&display=swap");
.main-header {
  position: relative;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden; }

.main-header__baner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }

.main-header-title {
  position: relative;
  z-index: 2;
  padding: 41px 78px;
  background-color: #fff;
  border-radius: 37px 37px 0 0;
  text-align: center; }

.main-header-title__title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36; }

.adressPage {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px; }

.blogDetails {
  padding-top: 180px;
  display: flex;
  gap: 56px; }

/* Content */
.blogDetails-content {
  min-width: 800px;
  max-width: 800px;
  margin-bottom: 95px; }
  .blogDetails-content > p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    font-style: normal;
    color: #292F36;
    letter-spacing: 0.22px; }

.blogDetails-content__title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
  margin-bottom: 23px; }

.blogDetails-content-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  overflow: hidden; }

.blogDetails-content__img {
  width: 100%;
  height: 365px;
  border-radius: 50px;
  object-fit: cover; }

.content-date {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #292F36;
  margin-bottom: 4px;
  padding: 42px 0px;
  padding-right: 68px;
  display: flex;
  justify-content: space-between; }

.content-quote {
  margin-top: 40px;
  margin-bottom: 55px;
  padding: 35px 220px;
  text-align: center;
  background-color: #F4F0EC;
  border-radius: 50px; }
  .content-quote p:first-child {
    font-family: 'DM Serif Display', serif;
    font-size: 150px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 4px;
    color: #CDA274;
    margin-top: -75px; }
  .content-quote p:last-child {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0.5px;
    color: #CDA274;
    margin-top: -5px; }

.blogDetails-content__list {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.4px;
  color: #CDA274;
  margin-top: 20px;
  margin-bottom: 42px;
  list-style-type: none;
  counter-reset: my-counter; }
  .blogDetails-content__list li {
    position: relative;
    max-width: 750px;
    margin-left: 20px;
    margin-bottom: 32px; }
  .blogDetails-content__list li::before {
    position: absolute;
    top: 2px;
    left: -20px;
    content: counter(my-counter);
    counter-increment: my-counter;
    margin-right: 8px; }
  .blogDetails-content__list span {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    font-style: normal;
    color: #292F36;
    letter-spacing: 0.22px; }

.blogDetails-content__img2 {
  margin-bottom: 34px; }

/* Tags */
.tags-title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
  margin-bottom: 25px; }

.tags-main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; }

.tags-main-block {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.36px;
  color: #292F36;
  margin-bottom: 2px;
  padding: 6px 31px;
  border-radius: 10px;
  background-color: #F4F0EC;
  cursor: pointer; }

.tags-main-block__activ {
  color: #fff;
  background-color: #292f36; }

/*# sourceMappingURL=blogDetails.css.map */
