@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

.content {
  width: 1201px;
  margin: 0 auto; }

/* HEADER */
.header-content {
  padding: 52px 0 52px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #292F36;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; }

.navMenu ul {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px; }
  .navMenu ul li {
    transition: transform 0.5s; }
    .navMenu ul li:hover {
      transform: scale(1.2); }
  .navMenu ul a {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #292F36; }

/*MAIN*/
/*Section Baner*/
.baner {
  padding: 215px 52px;
  background-image: url(../../img/backgroundSectionBanner.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 70px; }

.baner__h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 125%;
  color: #292F36;
  margin-bottom: 16px; }

.baner__p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px;
  margin-bottom: 21px; }

.baner__btn {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  color: #fff;
  width: 220px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  text-align: center; }
  .baner__btn svg {
    margin-left: 12px; }

/*Section Project*/
.project {
  margin-bottom: 94px; }

.project-header {
  width: 737px;
  margin: 90px auto 93px;
  text-align: center; }

.project-header__h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
  margin-bottom: 8px; }

.project-header__p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px; }

.project-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 620px;
  column-gap: 100px;
  row-gap: 53px; }

.project-main-card:nth-child(4n+1) img {
  border-top-right-radius: 80px; }
.project-main-card:nth-child(4n+2) img {
  border-top-left-radius: 80px; }
.project-main-card:nth-child(4n+3) img {
  border-bottom-right-radius: 80px; }
.project-main-card:nth-child(4n+4) img {
  border-bottom-left-radius: 80px; }
.project-main-card:nth-child(4n+3) .project-main-card-img {
  margin-bottom: 38px; }
.project-main-card:nth-child(4n+4) .project-main-card-img {
  margin-bottom: 38px; }

.project-main-card-img {
  margin-bottom: 20px; }
  .project-main-card-img img {
    overflow: hidden; }

.project-main-card-text {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.project-main-card-text-info__h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36; }

.project-main-card-text-info__p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px; }

.project-main-card-text__btn {
  border: none;
  border-radius: 35px; }

/*Section Counter*/
.counter {
  background: #F4F0EC; }

.counter-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 151px 0; }

.counter-card {
  padding-right: 80px;
  border-right: 1px solid #CDA274; }

.counter-card:last-child {
  padding-right: 0;
  border-right: none; }

.counter__num {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 1.7px;
  color: #CDA274;
  margin-bottom: 15px; }

.counter__text {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px; }

/*Section Blog*/
.blog {
  margin-bottom: 96px; }

.blog-header {
  width: 811px;
  margin: 97px auto 53px;
  text-align: center; }

.blog-header__title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  color: #292F36;
  margin-bottom: 10px; }

.blog-header__p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px; }

.blog-main-card {
  display: flex;
  gap: 27px; }

.blog-card {
  width: 382px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  transition: background-color 0.5s; }
  .blog-card:hover {
    background-color: #F4F0EC; }
  .blog-card:hover .blog-card__btn svg circle {
    fill: #FFF; }

.blog-card__btn svg circle {
  transition: fill 0.5s; }

.blog-card-img {
  height: 294px;
  position: relative;
  margin-bottom: 5px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  overflow: hidden; }

.blog-card-img-title {
  position: absolute;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #292F36;
  padding: 10px;
  left: 20px;
  bottom: 26px;
  border-radius: 8px 8px 8px 0;
  background-color: #FFF; }

.blog-card-info {
  height: 179px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.blog-card-title {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
  margin-right: 45px;
  margin-bottom: 15px; }

.blog-card-DateAndBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px; }

.blog-card__date {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.16px;
  color: #292F36; }

.blog-card__btn {
  border: none;
  border-radius: 25px; }

/*FOOTER*/
.footer {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 200px; }

.footer-logo {
  max-width: 393px; }

.footer-logo h4 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #292F36; }

.footer-logo p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px;
  margin-top: 18px;
  margin-bottom: 32px; }

.footer-logo-socialNetwork {
  display: flex;
  gap: 54px; }

.footer-navMenu {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px;
  margin-right: 283px; }

.footer-navMenu h4 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  color: #292F36;
  margin-bottom: 25px; }

.footer-navMenu li {
  margin-bottom: 33px; }

.footer-contact address {
  width: 258px;
  display: flex;
  flex-direction: column; }

.footer-contact h4 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
  margin-bottom: 25px; }

.footer-contact p {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px;
  margin-bottom: 15px; }

.footer-contact a {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  font-style: normal;
  color: #292F36;
  letter-spacing: 0.22px;
  margin-bottom: 32px; }

/*# sourceMappingURL=style.css.map */
